.fixed-header{
  position: fixed; 
  border-bottom: 1px solid #ededed;
  width: 100%;
  z-index: 999;
  padding: .5rem 1rem !important;
  background:#fff;
  box-shadow: 0px 0px 8px rgba(0,0,0,.1);
  -webkit-transition: opacity 0.2s ease, top 0.2s ease;
  -o-transition: opacity 0.2s ease, top 0.2s ease;
  transition: opacity 0.2s ease, top 0.2s ease;
  top: -75px;
  opacity: 0;
  height: 75px;
}

.fixed-header .btn-sign{
  color: #cf1c24;
  border:1px solid #cf1c24;
  padding: 7px 25px !important;
  font-size: 16px;
  margin-bottom: 0px !important;
}

.fixed-header .nav-item span, .no-home-page .nav-item span{
  display: none;
}

.fixed-header .navbar-brand img, .no-home-page .navbar-brand img{
  height: 40px;
}

.payments-header{
  max-height: 28px;
}
  
.advantages li{
  display: flex;
  align-items: center;
  line-height: 1.5rem;
  background-image: url(../img/advantages/check.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 35px 34px;
}

.navbar-bottom .nav-link{
  color: #fff;
  font-size: 14px;
  text-decoration: underline;
}

.navbar-bottom .nav-link:hover, .navbar-bottom .active .nav-link{
  color: #ccc;
}

.page-container{
  min-height: 600px;
}

.page-text{
  line-height: 24px;
  font-size: 16px;
}

.mt-50 {
  margin-top: 50px;
}

.no-home-page .navbar{
  padding: 20px 0;
}
 
.no-home-page .btn-sign{ 
  padding: 7px 25px !important;
  font-size: 16px;
  margin-bottom: 0px !important;
}

.registration-page .navbar{
  display: none !important;
}

#ajax-notify{
    min-width: 350px;
    display: none;
}

.notify-inner{
    font-size: 14px; 
    font-weight: 500;
    padding-right: 20px;
}

.notify-inner p{
  margin:0;
}

#ajax-notify.notify-success, .alert-success{
    background-color: rgb(133, 181, 82);
    color: #fff;
}

#ajax-notify.notify-danger, .alert-error{
    background: #ec5359;
    color: #fff;
}

.req{
    color: #ec5359;
}

.logout-v1{
  color: #fff;
  font-size: 18px;
}

.top-username i{
  font-size: 18px;
  margin-right: 5px;
}

.top-username{
  color: #fff;
}

.top-username:hover, .logout-v1:hover{
  color:#e6e5e5;
  text-decoration: none;
}